*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    font-family: "Roboto", sans-serif ;
    font-size: 22px;
}

.container{
    max-width: 100%;
    }
.row{
    display: flex;
    flex-wrap: wrap;
}


/*------------------------------------  LAYOUT   */
header{
    padding: 10px 0;
    height: 75px;
    background-color: #0084fd;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    
}
main{padding-top: 80px;}


img {
    max-width: 100%;
   height: auto;

}

.col-33 i{
    font-size: 95px;
    color: #0084fd;
    padding: 10px;
    margin-bottom: 10px;    
}
p{ font-size: 16px;
    line-height: 1.6;
}

.circle{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
        justify-content: center;
        align-items: center;
    
    
}
.circle i {
    font-size: 22px;
}


/*------------------------------------  COLUMN   */
.col-100 {
    width: 100%;
}
.col-66{
    width: 100%;
}
.col-60{
        width: 100%;
       }
.col-50{
    width: 50%;

}
.col-40{
        width: 100%;
    }


.col-33 {
    width: 100%;
}
 
/*------------------------------------  CONTENT   */

.content {
    margin: 10px;

}

/*------------------------------------  UTILITIES   */



.border-radius {
    border-radius: 25px;
}
.text-center{
    text-align: center;
}
.text-left {
    text-align: left;
}
.float-end{
    float: right;
}

.font-small {
    font-size: 20px;
}

/*------------------------------------  COLORS   */

.bg-white{background-color: white;}
.bg-blue {background-color: #0084fd;}
.bg-lightblue {background-color: #b5ddff;}
.bg-violet {background-color:#9792e4 ;}
.bg-yellow {background-color:#fdc15f ;}
.bg-black {background-color: #333333 ;}

.text-grey{
    color: #536472;
}
.text-black {
    color: #000000;
}
.text-violet {
    color:#9792e4;
    
}
.text-white {
    color: white;
}

.text-blue {
    color:#0084fd ;
}

/*------------------------------------  SPACE   */


.p-20 {
    padding: 20px;
}
.my-20 {
    margin: 20px 0;
}

.m-top{
    margin-top: 20px;

}
.m-bottom-40{
    margin-bottom: 40px;

}
/*------------------------------------  BUTTON   */
.button{
    background-color: #0084fd;
    width: auto;
    padding: 15px 35px ;
    border-style: none;
    border-radius: 25px;
}


/*------------------------------------  PROVE   */
.button-0 {

    display: flex;
justify-content: center;
align-items: center;

}

.col-66 img {

    margin-top: 40px ;
}
